@font-face {
    font-family: "Michroma-Regular";
    src: url(/FUENTES/Michroma/Michroma-Regular.ttf);
}

@font-face {
    font-family: "Architects_Daughter";
    src: url(/FUENTES/Architects_Daughter/ArchitectsDaughter-Regular.ttf);
}

/*MENU*/

.menu {
    position: static;
    display: flex;
    background: rgb(160, 204, 221);
}

.menu a {
    display: block;
    color: #fff;
    height: 21px;
    width: 235px;
    text-align: center;
    text-decoration: none;
    padding: 15px;
    border: 2px solid #fff;
}

.menu a:hover {
    background: rgba(255, 255, 255, .3);
}

.apuntarse {
    background: rgba(255, 255, 255, .3);
}

.nombre {
    font-size: 17px;
    font-weight: bold;
    height: 25px;
    width: 180px;
    padding: 15px;
    padding-left: 45px;
}

/*MAIN*/

h1 {
    text-align: center;
    font-family: "Michroma-Regular";
}

form {
    margin: 0 auto;
    margin-bottom: 30px;
    width: 800px;
    padding: 30px;
    border: 1px solid #CCC;
    border-radius: 5em;
    background:  rgb(160, 204, 221);
}

form div + div {
    margin-top: 1em;
}

label {
    display: inline-block;
    width: 180px;
    text-align: right;
    font-family: "Architects_Daughter";
    color: white;
}

input, textarea {
    font: 1em sans-serif;
    width: 500px;
    height: 30px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #999;
}

input:focus, textarea:focus {
    border-color: #000;
}

textarea {
    vertical-align: top;
    height: 5em;
    width: 500px;
    resize: vertical;
    font-family: "Architects_Daughter";
}

.button {
    padding-left: 600px; 
}
    
button {
    margin-left: .5em;
}

/*FOOTER*/

.footer {
    background: rgb(160, 204, 221);
    color: white;
    padding: 15px;
}

.footer p {
    margin: 0;
}